<html ng-app="oglasi">
<head>
  <title>Oglasi | 2017 &copy; </title>

  <!-- dependencies -->
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/angular/angular.js"></script>
  <script src="/node_modules/angular-route/angular-route.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <!-- <script src="/node_modules/angular-loading-bar/build/loading-bar.min.js"></script> -->
  <script src="/node_modules/sweetalert/dist/sweetalert.min.js"></script>

  <!-- app config -->
  <script src="/app/app.js"></script>

  <!-- services -->
  <script src="/app/services/advertService.js"></script>
  <script src="/app/services/userAccountService.js"></script>
  <script src="/app/services/authInterceptorService.js"></script>
  <script src="/app/services/categoryService.js"></script>


  <!-- controllers -->
  <script src="/app/controllers/indexController.js"></script>

  <script src="/app/controllers/advert/advertsListController.js"></script>

  <script src="/app/controllers/advert/advertSubscriptionController.js"></script>
  <script src="/app/controllers/advert/advertReportController.js"></script>
  <script src="/app/controllers/advert/advertReportDetailsController.js"></script>
  <script src="/app/controllers/advert/advertReportOneController.js"></script>

  <script src="/app/controllers/advert/advertDetailsController.js"></script>
  <script src="/app/controllers/advert/subscriptionsOnAdvertController.js"></script>
  <script src="/app/controllers/advert/subscriptionDetailsController.js"></script>

  <script src="/app/controllers/userAccount/registerController.js"></script>
  <script src="/app/controllers/userAccount/loginController.js"></script>

  <script src="/app/controllers/userAccount/userDetailsController.js"></script>

  <script src="/app/controllers/category/createCategoryController.js"></script>
  <script src="/app/controllers/category/allCategoriesController.js"></script>
  <script src="/app/controllers/category/categoryDetailsController.js"></script>


  <script src="app/controllers/userAccount/adminUserController.js" ></script>


  <!-- css -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />

  <!-- <link rel="stylesheet" href="/node_modules/angular-loading-bar/build/loading-bar.min.css"  /> -->
  <link rel="stylesheet" href="/node_modules/sweetalert/dist/sweetalert.css" />
  <script src="app/controllers/advert/advertDeleteController.js"></script>
  <script src="app/controllers/advert/advertRegisterController.js"></script>
  <script src="app/controllers/advert/advertUpdateController.js"></script>
  <script src="app/controllers/userAccount/userUpdateController.js"></script>

  <script src="app/controllers/advert/advertCheckInController.js"></script>

</head>

<body ng-controller="indexController">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Oglasi | SI Tim1</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="auth.isAuthenticated"><a href="#!/login">Sign In</a></li>
        <li ng-show="auth.isAuthenticated" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome {{auth.username}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li ng-click="account()"><a>Profile</a></li>
                <li ng-show="auth.role == 'ROLE_ADMIN'" ng-click="getAllUsers()" ><a>Users</a></li>
                <li ng-click="logout()"><a>Logout</a></li>
            </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>



  <!-- <div ngview="">

  </div> -->
  <ng-view  onload=""  $autoscroll=""></ng-view>

</body>
</html>
