<div class="col-lg-8 col-lg-offset-2" >
  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Prijava</h3>
  </div>
  <div class="panel-body">
      <h5>Naziv lica: {{advertSubscriptionVM.subscriber}}</h5>
      <h5>Datum: {{advertSubscriptionVM.date}} </h5>
      <h5>Tekst: {{advertSubscriptionVM.message}} </h5>
      <br />
      <!--<a href="/#!/advert/details/{{advert.id}}/update" class="btn btn-success">Update</a>
      -->
      <a class="btn pull-right btn-primary" ng-click="removeSubscription()">Obriši prijavu</a>
  </div>
</div>

</div>
