<div class="col-lg-8 col-lg-offset-1">

  <form class="form-horizontal">
    <label class="control-label col-sm-2" for="name">Naziv lica:</label>
    <div class="col-sm-10">
      <p class="form-control">{{subscription.subscriber}}</p>
    </div>
    <label class="control-label col-sm-2" for="datetime">ID:</label>
    <div class="col-sm-10">
      <p class="form-control">{{subscription.id}}</p>
    </div>
    <label class="control-label col-sm-2" for="text">Tekst:</label>
    <div class="col-sm-10">
      <p class="form-control">{{subscription.message}}</p>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
      <button ng-click="deleteSubscription()" class="btn pull-right btn-primary">Obriši prijavu</button>
    </div>

  </form>
</div>
