<div class="col-lg-4 col-lg-offset-4">
    <form class="form-horizontal">
      <fieldset>
        <br /><br /><br />
        <h2 class="text-center">Oglas1</h2>
        <br /><br /><br />
        <div class="form-group">
          <label class="col-lg-2 control-label">Detaljno</label>
        
      </fieldset>
    </form>
    <div class="col-lg-10 col-lg-offset-2">

      <button onclick="location.href='/#!/advert/details/application_form'" class="btn btn-info col-md-5 col-md-offset-1">Prijava na oglas</button>
      <button onclick="location.href='/#!/advert/details/inappropriate'" class="btn btn-info col-md-5 col-md-offset-1">Prijava neprimjerenog sadržaja</button>

    </div>
</div>
