<div class="col-lg-8 col-lg-offset-1">
<h3>Prijave</h3>

<div class="panel panel-primary">
  <div class="list-group">
    <span ng-repeat="subscription in subscriptions">
      <a href="/#!/advert/{{subscription.advertID}}/subscriptions/{{subscription.id}}" class="list-group-item">
        <h5 class="list-group-item-heading">Naziv lica: {{subscription.subscriberName}}</h5>
        <p class="list-group-item-text">Vrijeme prijave: {{subscription.datetime}}</p>
        <p class="list-group-item-text">Pročitano: {{subscription.active}}</p>
        <!--<input type="hidden" class="list-group-item-text">Vrijeme prijave: {{subscription.advertID}}</input>-->
      </a>
     </span>
  </div>
</div>
</div>
