<div class="col-lg-8 col-lg-offset-2">

  <h2>Find an advert</h2>

<!-- SVE OVO JA -->

  <div class="panel panel-primary">
    <div class="panel-body">
        <br> <br>
      <form class="form-horizontal">
        <fieldset>

          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-1">
              <input type="text" class="form-control" id="inputName" placeholder="Nesto">
            </div>
          </div>

          <div class="form-group">
          <label class="col-lg-2 control-label">Pick a Category:</label>
            <div class="col-lg-10">
              <select multiple="" class="form-control" id="select" ng-change="setCategory()" ng-model="categoryIndeks.value">
                <option value="">Show all adverts</option>
                <option ng-repeat="c in categories" value="{{ $index }}">{{ c.title }}</option>
              </select>
            </div>
        </div>
          <a href="/#!/advert/create" class="list-group-item">Add advert</a>
        </fieldset>
      </form>

    </div>
  </div>

  <h3>Aktivni oglasi</h3>

  <div class="panel panel-primary">
    <div class="list-group">
      <span ng-repeat="advert in adverts">
        <a href="/#!/advert/details/{{advert.id}}" class="list-group-item">
          <h4 class="list-group-item-heading"><b>{{advert.title}}</b></h4>
          <h5 class="list-group-item-heading">Vlasnik: {{advert.ownerName}}</h5>
          <p class="list-group-item-text">Opis: {{advert.description}}</p>
          <!-- <button ng-click="location.href=/#!/advert/details/{{advert.advertID}}" > klikni me</button> -->
        </a>
       </span>
    </div>
  </div>

</div>
