<div class="col-lg-4 col-lg-offset-4">
    <form class="form-horizontal">
      <fieldset>
        <br /><br /><br />
        <h2 class="text-center">Prijava na oglas
        </h2>
        <br /><br /><br />
        <div class="form-group">
          <label for="inputContact" class="col-lg-2 control-label">Telefon ili email adresa</label>
          <div class="col-lg-10">
            <input ng-model="acc.contact" type="text" class="form-control" id="inputContact" placeholder="Telephone or email">
          </div>


          <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input ng-model="acc.email" type="text" class="form-control" id="inputEmail" placeholder="Email">
        </div>
      </div>

      
    </form>
    <div class="col-lg-10 col-lg-offset-2"
    </div>
</div>
