<div class="col-lg-8 col-lg-offset-2">
 
    <h2>Report this advert</h2>
    <br /><br />
    <form class="form-horizontal">
    <fieldset>

       <div class="form-group" ng-show="newReport.isGuest">
        <label for="inputName" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
          <input type="text" ng-model="newReport.username" class="form-control" id="inputName" placeholder="Username or Nickname">
        </div>
      </div>

      <br> <br>

      <div class="form-group">
        <label for="reportMessage" class="col-lg-2 control-label">Report Message</label>
        <div class="col-lg-10">
          <textarea ng-model="newReport.message" class="form-control" rows="4" id="reportMessage"></textarea>
          <span class="help-block">Please describe why you find this advert unsuitable, offensive or inappropriate.</span>
        </div>
      </div>


      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button ng-click="report()" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
