<div class="col-lg-6 col-lg-offset-3">
  <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
        Detalji računa</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">

    <div class="panel-body">
        <br /><br />

        <div ng-show="accType == 'Individual'">
          <table class="table table-bordered">

    <tbody>
      <tr>
        <td>Ime</td>
        <td>{{acc.firstName}}</td>
      </tr>
      <tr>
        <td>Prezime</td>
        <td>{{acc.lastName}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{acc.email}}</td>
      </tr>
      <tr>
        <td>Telefon</td>
        <td>{{acc.phone}}</td>
      </tr>
    </tbody>
</table>
        </div>
        <div ng-show="accType == 'Company'">

        <table class="table">

  <tbody>
    <tr>
      <td>Ime kompanije</td>
      <td>{{acc.companyName}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{acc.email}}</td>
    </tr>
    <tr>
      <td>Telefon</td>
      <td>{{acc.phone}}</td>
    </tr>
  </tbody>
</table>
</div>
<div class="col-lg-4 col-lg-offset-4">
  <a href="/#!/account/update" class="btn btn-primary col-lg-12 text-center">Update</a>
</div>
</div>

    </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
        Moji oglasi</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="panel panel-primary">
          <div class="list-group">
            <span ng-repeat="advert in adverts">
              <div class="list-group-item">
                <h4 class="list-group-item-heading"><b>{{advert.title}}</b></h4>
                <p class="list-group-item-text">Opis: {{advert.description}}</p>
                <div class="dropdown">
  <button class="btn btn-link dropdown-toggle btn-xs" type="button" data-toggle="dropdown">Napredno
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="/#!/advert/details/{{advert.id}}/update">Update</a></li>
    <li><a ng-click="deleteAdvert()">Delete</a></li>
    <li><a href="/#!/advert/{{advert.id}}/subscriptions">Prijave</a></li>
  </ul>
</div>
                <!-- <button ng-click="location.href=/#!/advert/details/{{advert.advertID}}" > klikni me</button> -->
              </div>
             </span>
          </div>
        </div>
        <br /><br />
        <div class="col-lg-4 col-lg-offset-4">
          <a href="/#!/advert/create" class="btn btn-primary col-lg-12 text-center">Dodaj novi oglas</a>
        </div>
      </div>
    </div>
  </div>

</div>

</div>
