<div class="col-lg-6 col-lg-offset-3">
    <form class="form-horizontal">
      <fieldset>
        <br />
        <h2 class="text-center">Account Details</h2>
        <br /><br />

        <div ng-show="accType == 'Individual'">
          <div class="form-group">
            <label for="inputFirstname" class="col-lg-2 control-label">First name</label>
            <div class="col-lg-10">
              <input ng-model="acc.firstName" type="text" class="form-control" id="inputFirstname" placeholder="First name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputLastname" class="col-lg-2 control-label">Last name</label>
            <div class="col-lg-10">
              <input ng-model="acc.lastName" type="text" class="form-control" id="inputLastname" placeholder="Last name">
            </div>
          </div>
        </div>

        <div ng-show="accType == 'Company'">
          <div class="form-group">
            <label for="inputCompany" class="col-lg-2 control-label">Company</label>
            <div class="col-lg-10">
              <input ng-model="acc.companyName" type="text" class="form-control" id="inputCompany" placeholder="Company name">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Email</label>
          <div class="col-lg-10">
            <input ng-model="acc.email" type="text" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>

        <div class="form-group">
          <label for="inputPhone" class="col-lg-2 control-label">Phone</label>
          <div class="col-lg-10">
            <input ng-model="acc.phone" type="text" class="form-control" id="inputPhone" placeholder="Phone number">
          </div>
        </div>

        <div class="form-group">
          <label for="inputUsername" class="col-lg-2 control-label">Username</label>
          <div class="col-lg-10">
            <input ng-model="acc.username" type="text" class="form-control" id="inputUsername" placeholder="Username">
          </div>
        </div>
      </fieldset>
    </form>
    <div class="col-lg-4 col-lg-offset-4">
      <button ng-click="update()" class="btn btn-primary col-lg-12 text-center">Save</button>
    </div>
</div>
